<head><embed src="/assets/file.mp3" autostart="true" loop="true" hidden="true"> </head>
<h1>Do you feel the love?</h1>

<p class="lead">Fill out the following form and pick 7 crushes.  If any of your crushes pick you back, we'll email both of you!</p>

<%= form_for @crush, remote: true, :html => {:class => "form-horizontal"} do |form| %>
	<div class="control-group">
		<%= form.label :email, "<span class='icon person'></span> You:".html_safe, :class => "control-label" %>
		<div class="controls">
			<div class="input-append">
				<%= form.text_field :email %>
				<span class="add-on">@yale.edu</span>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush1, "<span class='icon heart'></span> Crush 1:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush1 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint1, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint1, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush2, "<span class='icon heart'></span> Crush 2:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush2 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint2, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint2, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush3, "<span class='icon heart'></span> Crush 3:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush3 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint3, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint3, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush4, "<span class='icon heart'></span> Crush 4:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush4 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint4, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint4, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush5, "<span class='icon heart'></span> Crush 5:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush5 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint5, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint5, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush6, "<span class='icon heart'></span> Crush 6:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush6 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint6, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint6, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<%= form.label :crush7, "<span class='icon heart'></span> Crush 7:".html_safe, :class => "control-label" %>
			<div class="controls">
				<div class="input-append">
					<%= form.text_field :crush7 %>
					<span class="add-on">@yale.edu</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :hint7, "Hint:", :class => "control-label" %>
			<div class="controls">
				<%= text_field :hint, :hint7, :class => "input-xlarge" %>
			</div>
		</div>
	</div>
	<div class="crush-group">
		<div class="control-group">
			<div class="controls">
				<%= form.submit "Shag me.", :class => "btn span3 btn-large btn-danger" %>
			</div>
		</div>
	</div>
<% end %>