<h1>Do you feel the love?</h1>

<%= form_for @crush, remote: true, :html => {:class => "form-horizontal"} do |form| %>
	<div class="control-group">
		<%= form.label :email, "<span class='icon person'></span> You:".html_safe, :class => "control-label" %>
		<div class="controls">
			<div class="input-append">
				<%= form.text_field :email %>
				<span class="add-on">@yale.edu</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<%= form.label :crush1, "<span class='icon heart'></span> Crush #1's email".html_safe, :class => "control-label" %>
		<div class="controls">
			<%= form.text_field :crush1, :pattern => ".*@yale\.edu" %>
		</div>
	</div>
	<p>
		<%= form.label "Hint #1" %> <br />
		<%= text_field(:hint, :hint1) %>
	</p>
	<p>
		<%= form.label "Crush #2" %> <br />
		<%= form.text_field :crush2, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #2" %> <br />
		<%= text_field(:hint, :hint2) %>
	</p>
	<p>
		<%= form.label "Crush #3" %> <br />
		<%= form.text_field :crush3, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #3" %> <br />
		<%= text_field(:hint, :hint3) %>
	</p>
	<p>
		<%= form.label "Crush #4" %> <br />
		<%= form.text_field :crush4, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #4" %> <br />
		<%= text_field(:hint, :hint4) %>
	</p>
	<p>
		<%= form.label "Crush #5" %> <br />
		<%= form.text_field :crush5, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #5" %> <br />
		<%= text_field(:hint, :hint5) %>
	</p>
	<p>
		<%= form.label "Crush #6" %> <br />
		<%= form.text_field :crush6, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #6" %> <br />
		<%= text_field(:hint, :hint6) %>
	</p>
	<p>
		<%= form.label "Crush #7" %> <br />
		<%= form.text_field :crush7, :pattern => ".*@yale\.edu" %>
	</p>
	<p>
		<%= form.label "Hint #7" %> <br />
		<%= text_field(:hint, :hint7) %>
	</p>
	<p>
		<%= form.submit "Shag me." %>
	</p>
	<p id="response" style="display:none;">SUCCESS
	</p>
<% end %>