<h1>Do you feel the love?</h1>

<%= form_for @crush do |form| %>
	<p>
		<%= form.label "Your Yale email" %> <br />
		<%= form.text_field :email %>
	</p>
	<p>
		<%= form.label "Crush #1" %> <br />
		<%= form.text_field :crush_1 %>
	</p>
	<p>
		<%= form.label "Crush #2" %> <br />
		<%= form.text_field :crush_2 %>
	</p>
	<p>
		<%= form.label "Crush #3" %> <br />
		<%= form.text_field :crush_3 %>
	</p>
	<p>
		<%= form.label "Crush #4" %> <br />
		<%= form.text_field :crush_4 %>
	</p>
	<p>
		<%= form.label "Crush #5" %> <br />
		<%= form.text_field :crush_5 %>
	</p>
	<p>
		<%= form.label "Crush #6" %> <br />
		<%= form.text_field :crush_6 %>
	</p>
	<p>
		<%= form.label "Crush #7" %> <br />
		<%= form.text_field :crush_7 %>
	</p>
	<p>
		<%= form.submit "Shag me." %>
	</p>
<% end %>